@page "/"
@layout MainLayout

<header class="header_wrapper">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" style="height: 1.5cm;" class="img-fluid" alt="logo">
            </a>
            <button class="navbar-toggler pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-stream navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav menu-navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Bosh Sahifa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Biz haqimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Hizmat turlari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#brands">Xamkorlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqs">Sovol-Jovoblar</a>
                    </li>
                    <NavLink class="nav-link" href="chatting" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span>
                    </NavLink>

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item text-center">
                        <a class="nav-link learn-more-btn btn-extra-header" href="#contact">Aloqa</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link learn-more-btn btn-header" href="/register">Ro'yxatdan o'tish</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section id="home" class="banner_wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 header-img-section">
                <img src="/images/phonehomes.png" class="img-fluid" alt="Banner">
            </div>
            <div class="col-md-6 my-5 my-md-0 text-center text-md-start">
                <p class="banner-subtitle">Doctor.uz</p>
                <h1 class="banner_title">Biz Bilan <span>Bog'lanishingiz</span> Mumkin </h1>
                <p class="banner_title-text">Tez va oson yordam oling!</p>
                <div class="learn-more-btn-section">
                    <a class="nav-link learn-more-btn btn-header" href="/register">Ro'yxatdan o'tish</a>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="about" class="about_wrapper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-lg-5 text-center text-lg-start">
                <p class="about_number">1</p>
                <h2 class='about_title'>Bizning maqsadimiz</h2>
                <h4>Prafesianal, xavfsiz va yuqori sifatli tibbiy yordam ko'rsatish.
                    Kelajakka olib boradigan mukammal sog'liqni saqlash mutaxassislarini
                    maslahatlari.jamiyat salomatligi va tibbiy xizmatlarni qo'llab-quvvatlash va
                    rivojlantirish.Ilg'or
                    tibbiy yordamni targ'ib qilish va uni dunyoga tarqatish</h4>
                <p class="about_text">Bizning maqsadimiz butun dunyo bo'ylab sog'liqni saqlash tizimini
                    yaxshilash va
                    uni yanada samaraliroq qilishdir. Birinchi kontaktni raqamli qilish orqali biz inson va
                    umuman
                    jamiyatimiz uchun vaqt va resurslarni tejaymiz. Ko'proq bemorlarga tezroq yordam
                    ko'rsatiladi,
                    an'anaviy tibbiy yordam esa engillashadi. Bu haqiqatan ham jismoniy uchrashuvlarga muhtoj
                    bo'lgan
                    bemorlar uchun resurslarni bo'shatadi.</p>
            </div>
            <div class="col-sm-12 col-lg-7 text-center text-md-start">
                <img src="/images/hos3.webp" class="img-fluid mr-5">
            </div>
        </div>
    </div>

    <div class="innovate mt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-lg-6 px-5 text-center text-md-start">
                    <img src="https://en.doktor.se/wp-content/uploads/2019/01/illustration-bus.png" class="img-fluid">
                </div>
                <div class="col-sm-12 col-lg-6 px-5 text-center text-lg-start">
                    <p class="about_number">2</p>
                    <h2 class="about_title">Qayerda bo'lishingizdan qat'iy nazar yordam bering</h2>
                    <p class="about_text">Avtobusda yoki chet elda bo'lishingiz muhim emas. Onlayn chatlar,
                        ovozli
                        qo'ng'iroqlar va video qo'ng'iroqlar yordamida bizdan yordam olish tez va oson.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="projects">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 text-center">
                    <h2>4.7</h2>
                    <p>App Store do'konidagi reyting</p>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <h2>94%</h2>
                    <p>Bemorning qoniqishi</p>
                </div>
                <div class="col-sm-6 col-lg-3 text-center">
                    <h2>9,120</h2>
                    <p>Faol foydalanuvchilar</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About exit  -->


<!--Features  -->
<section id="features" class="features_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="features_title">Bu qancha turadi?</h2>
                <p class="features_subtitle">Narxlar jadvaliga qarang</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="ft-1">
                        <div class="mt-5 mb-2">
                            <h4>Hamshira</h4>
                            <h4>Doktor</h4>
                            <h4>Tajribali Doctor</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="ft-1">
                        <h3>Voyaga etgan</h3>
                        <h4>0 Sum</h4>
                        <h4>100.000 Sum</h4>
                        <h4>300.000 Sum</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-5">
                    <div class="ft-1">
                        <h3>Bola</h3>
                        <h4>0 Sum</h4>
                        <h4>0 Sum</h4>
                        <h4>0 Sum</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Features  exit-->


<!-- Reviews section -->
<section id="reviews" class="testimonial_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-end">
                <h2 class='about_title'>Biz yordam berish uchun shu yerdamiz</h2>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-sm-12 col-lg-4 mb-5 mb-lg-0">
                <img src="https://en.doktor.se/wp-content/uploads/2019/01/illustration-bed.png" class="img-fluid">
            </div>

            <div class="col-sm-12 col-lg-7 offset-lg-1 mb-5 mb-lg-0">
                <div class="testimonials_card">
                    <p class="testimonials_text">Raqamli yordam hamshiralar tomonidan va agar kerak bo'lsa,
                        shifokorlarning tayinlanishi orqali amalga oshiriladi. Sizning shartlaringiz bo'yicha
                        shaxsiy va
                        yuqori sifatli parvarish.
                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center flex-sm-row-reverse">
            <div class="col-sm-12 col-lg-4 offset-lg-1 mb-5 mb-lg-0">
                <img src="/images/photo_2022-03-12_20-48-37.jpg" class="img-fluid">
            </div>

            <div class="col-sm-12 col-lg-7 mb-5 mb-lg-0">
                <div class="testimonials_card">
                    <h3>Tekin Maslahat</h3>
                    <p class="testimonials_text">
                        Avtobusda yoki chet elda bo'lishingiz muhim emas. Onlayn chatlar, ovozli qo'ng'iroqlar
                        va video
                        qo'ng'iroqlar yordamida bizdan yordam olish tez va oson.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reviews section exit-->


<!-- Brands -->
<section id="brands" class="brand_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="brand_title">Xamkorlar</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-2 col1 showcase_card align-self-center">
                <a href="#"><img src="/images/dummy_logo2.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo1.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo2.png" class="mb-4 img-fluid"></a>
            </div>
            <div class="col-sm-2 col1 showcase_card align-self-center">
                <a href="#"><img src="/images/dummy_logo1.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo3.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo1.png" class="mb-4 img-fluid"></a>
            </div>
            <div class="col-sm-2 col1 showcase_card align-self-center">
                <a href="#"><img src="/images/dummy_logo3.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo2.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo3.png" class="mb-4 img-fluid"></a>
            </div>
            <div class="col-sm-2 col1 showcase_card align-self-center">
                <a href="#"><img src="/images/dummy_logo1.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo3.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo1.png" class="mb-4 img-fluid"></a>
            </div>
            <div class="col-sm-2 col1 showcase_card align-self-center">
                <a href="#"><img src="/images/dummy_logo2.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo1.png" class="mb-4 img-fluid"></a>
                <a href="#"><img src="/images/dummy_logo2.png" class="mb-4 img-fluid"></a>
            </div>
        </div>
    </div>
</section>
<!--Brands exit  -->


<!--FAQs  -->
<section id="faqs" class="faq_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="faq_title">Tez-tez so'raladigan savollar</h2>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm-12 col-lg-8 mb-5 mb-lg-0">
                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Ilovadan foydalanganim uchun to'lashim kerakmi?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Qayerda yashashingizga, yoshingizga va qanday uchrashuvga ega
                                    bo'lishingizga
                                    qarab , to'lov olinishi mumkin . Uchrashuvdan oldin sizga har doim to'lov
                                    haqida
                                    xabar beriladi va siz davom etish yoki qilmaslik to'g'risida qaror qabul
                                    qilishingiz
                                    mumkin.
                                    Agar sizda imtiyoz kartangiz bo'lsa, bu ilova yordamida uchrashuvlar uchun
                                    amal
                                    qiladi.</strong>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Hisob-fakturani to'lay olmayapman, nima qilishim mumkin?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Iltimos, bizning qo'llab-quvvatlashimizga murojaat
                                    qiling<code> doctor.uz@mail.ru</code> yoki ilova orqali biz bilan bog'laning
                                    va biz
                                    sizga yordam berishga harakat qilamiz.</strong>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. Hisob-fakturani to'lashdan oldin sanani uzaytira olamanmi?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Iltimos, doktor.uz@mail.ru elektron manzilimizga murojaat qiling
                                    yoki ilova orqali biz bilan bog'laning va biz sizga yordam berishga harakat
                                    qilamiz.</strong>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                4. Agar 24 soatdan ko'proq vaqt oldin psixolog bilan uchrashuvimni bekor
                                qilmasam nima
                                bo'lad?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Uchrashuvga kela olmasangiz , elektron pochta orqali xabar yuboring
                                    uchrashuvingizdan kamida 24 soat oldin. Agar siz o'z
                                    vaqtida bekor qilmasangiz yoki kelmasangiz , sizdan uchrashuv uchun to'lov
                                    olinadi
                                    .
                                    <code>.docktor.uz@mail.ru</code>
                                </strong>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                5. Mening tibbiy jurnalimga kim kirishi mumkin?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>
                                    Tibbiy jurnalingizdagi ma'lumotlardan faqat siz bilan aloqada bo'lgan
                                    tibbiyot
                                    xodimlari foydalanishi mumkin.
                                </strong>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-lg-4">
                <img src="/images/photo_2022-03-12_18-29-26.jpg" class="img-fluid">
            </div>

        </div>
    </div>

    <!-- Send message -->
    <div class="free_trial">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12 col-lg-6 text-center text-lg-start">
                    <h2 class="free_title">Savol yuqorida ko'rsatilmaganmi? Bizga xabar yuboring, biz sizga
                        jovob
                        beramiza</h2>
                </div>
                <div class="col-sm-12 col-lg-6 text-center text-lg-end mt-4 mt-lg-0">
                    <a class="learn-more-btn" href="#contact"><i class="fa fa-rocket"></i> Yuborish </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!--FAQs exit  -->
<footer id="contact" class="footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 footer_logo mb-2 mb-lg-0">
                <img src="/images/lgo.png">
            </div>

            <div class="col-lg-4 px-lg-5 mb-4 mb-lg-0">
                <h3 class="footer_title">Aloqa</h3>
                <p class="footer_text">
                    <a href="#">doctor.uz@mail.ru<br></a>
                    <a href="#" class="footer-address">Toshkent <br>Uzbekistan, 123456, UZ,</a>
                </p>
            </div>

            <div class="col-lg-3 mb-4 mb-lg-0">
                <h3 class="footer_title">Ijtimoiy Tarmoqlar</h3>
                <p>

                    <a href="https://github.com/ilmhub-uz" class="footer_social_media_icon"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/xakimov-nosirbek-9ba2b8214/"
                        class="footer_social_media_icon"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/ilmhub-uz" class="footer_social_media_icon"><i
                            class="fab fa-github"></i></a>
                    <a href="https://t.me/ilmhubuz" class="footer_social_media_icon"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.youtube.com/channel/UCExbuFxW_p3VQq573KWS6UQ"
                        class="footer_social_media_icon"><i class="fab fa-telegram"></i></a>
                </p>
            </div>

            <div class="col-12 footer_credits text-center">
                <span>&copy; 2022 <a href="#" target="_blank" title="Doctor.uz">Doctor.uz</a>&trade;
                    . IlmHub Team</span>
            </div>

        </div>
    </div>
</footer>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}