@page "/register"

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">El. manzilingiz</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="El. manzilingiz">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Parol</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Parol">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Yashayotgan manzilingiz</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Buyuk Ipak yo'li, 254 A">
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Registratsiya</button>
</form>